body { 
  background-image: url(00.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

ul{
float:left;
text-align: center;
list-style-type: none;
margin: 40px 1300px 20px 0px;
}

ul li{
display: inline-block;
padding: 0px 50px 0px 50px;
}

ul li a{
font-size: 20px;
font-family: Times New Roman;
text-decoration: none;
cursor: pointer;
padding: 10px 30px;
border: 2px solid aqua;
color: aqua;
background-color: white;
border-radius: 12px;
}

ul li a:hover{
background-color: SeaGreen;
color: aqua;
transition-duration: 1.5s;
}

header{
font-size: 60px;
text-align: center;
color: white;
font-family: georgia;
}

header:hover{
color: SeaGreen;
transition: 1s;
}

h4{
text-align: center;
color: white;
font-family: georgia;
font-size: 40px;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

h4:hover{
color: SeaGreen;
transition: 1s;
}

img {
width:45%;
height:45%;
border-radius: 50px;
margin: 20px 50px 50px 50px;
}

.first{
float: right;
font-size: 40px;
text-align: center;
color: white;
font-family: georgia;
margin: 0px 225px 0px 0px;
}

.second{
float: left;
text-align: center;
text-align: justify;
text-align-last: center;
margin: 0 auto;
width: 30em;
padding: 50px 0px 0px 35px;
font-family: georgia;
color: white;
font-size: 30px;
}